*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecalho
{
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#cabecalho div
{
    margin-right: 60px;
    display: flex;
}
#cabecalho div ul
{
    display: flex;
    margin-right: 40px;
}
#cabecalho div ul li
{
    padding-right: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: white;
}
#login
{
    margin-top: -10px;
    font-size: 11pt;
}
#login, #bora{
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
#cabecalho h1{
    margin-left: 40px;
}
#cabecalho ul li a.atual,
#endereco li a:hover,
#cabecalho ul li a:hover
{
    opacity: .5;
    text-decoration: underline;
}
nav
{
    width: 100%;
    min-height: 100vh;
    background: url('imagem/fundo-1000.jpg');
    background-size: cover;
    
}
nav h3{
    padding-top: 40vh;
    text-align: center;
    font-size: 80px;
    color: white;
}
#bora{
    margin-left: 640px;
    width: 100px;
    font-size: 15pt ;
}
section
{
    margin-bottom: 50px;
}
aside
{
    max-width: 900px;
}
#home
{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}
#home h2
{
    margin-bottom: 30px;
    color: #4EA0D4;
    letter-spacing: 1px;
}
#home p
{
    letter-spacing: 1px;
    font-size: 12pt;
}
#aparta,
#ap,
#info
{
    color: white;
    margin: auto;
    display: flex;
    height: 240px;
    font-size: 14pt;
}
#aparta #msg,
#ap #foto1
{
    width: 400px;
    text-align: center;
    background-color: #83c5be;
    padding-top: 110px;
}

#aparta #foto,
#ap #msg1,
#infoffoto
{
    width: 100%;
    background-size: cover;
    min-height: 200px;
}
#aparta #foto
{
    background-image: url('imagem/app.png');
}
#ap #foto1
{
    background-image: url('imagem/app-300.jpg');
    background-size: 350px;
}
#ap #msg1
{
    background-color: #83c5be;
    color: white;
    font-size: 12pt;
}
#msg1 div
{
    padding: 40px;
}
#reserv a
{
    text-decoration: underline;
}
#rodape
{
    background-color: #8EC4E7;
    padding: 50px;
    padding-left: 180px;
    color: white;
}
#rodape .roda,
#redes
{
    display: flex;
    
}
#rodape .roda div{
    margin-right: 100px;
}
#rodape div h5
{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
#redes li 
{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}
#rodape p
{
    text-align: center;
    margin-top: 50px;
}
#midias
{
    padding-left: 100px;
}
/*Formatação da reserva*/
#formulario
{
    background-image: url('imagem/formulario\ \(2\).jpg');
    background-size: cover;
}
#form
{
    width: 300px;
    margin: 60px 0 30px 200px;
    border-radius: 50px;
    padding: 50px;
    outline: none;
    font-size: 14pt;
    background-color: #fff;
    display: block;
}
#form h2
{
    font-size: 20pt;
    text-align: center;
    margin-bottom: 40px;
    color: #118ab2;
}
input::placeholder
{
    font-style: italic;
}
#form input
{
    outline: none;
    font-size: 13pt;
    display: block;
    padding: 10px;
    border-radius: 20px;
    width: 280px;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
}
#form div input
{
    background-color: rgba(13, 138, 161, 0.2);
}
form input[type="button"]
{
    background-color: #1B88A2;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
form input[type="button"]:hover
{
    opacity: .8;
}
#valEmail
{
    margin-bottom: 10px;
    font-weight: 500;
}

.cabeca
{
    background-color: #8EC4E7;
}
.foto
{
    display: flex;
}
#portifolio
{
    
    width: 1100px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    transition: 1s;
   
}
#portifolio h2
{
    text-align: center;
    font-size: 30pt;
    margin-bottom: 20px;
    color: #457b9d;
}
#texto
{
    width: 800px;
    margin: auto;
}
#portifolio p
{

    text-align: center;
    margin-bottom: 50px;
}
#galeria
{
    margin-left: 40px;
    transition: 1s;
}
#galeria img
{
    margin: 20px;
    cursor: pointer;
}
#galeria img:hover
{
    transform: scale(1.05);
}