*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecalho
{
    position: absolute;
    left: 0; 
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}
#cabecalho div
{
    margin-right: 60px;
    display: flex;
}
#cabecalho div ul
{
    display: flex;
    margin-right: 40px;
    transition: 1s;
}
#cabecalho div ul li
{
    padding-right: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: white;
}

#login, #bora{
    width: 70px;
    padding: 5px;
    margin-top: -5px;
    background-color: transparent;
    outline: 0;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
#cabecalho h1{
    margin-left: 40px;
}
#cabecalho ul li a.atual,
#endereco li a:hover,
#cabecalho ul li a:hover
{
    color: rgba(255, 255, 255, 0.5);
    
}
nav{
    width: 100%;
    min-height: 100vh;
    background: url('imagem/fundo-1000.jpg');
    background-size: cover;
    
}
nav h3{
    padding-top: 40vh;
    text-align: center;
    font-size: 80px;
    color: white;
}
#bora{
    margin-left: 640px;
    width: 100px;
    padding: 10px;
    font-size: 14pt;
}
section
{
    margin-bottom: 50px;
}
aside
{
    max-width: 900px;
}
#home
{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}
#home h2
{
    margin-bottom: 30px;
    color: #4EA0D4;
    letter-spacing: 1px;
}
#home p
{
    letter-spacing: 1px;
    font-size: 12pt;
}
#aparta,
#ap,
#info
{
    color: white;
    margin: auto;
    display: flex;
    height: 240px;
    font-size: 14pt;
}
#aparta #msg,
#ap #foto1
{
    width: 400px;
    text-align: center;
    background-color: #83c5be;
    padding-top: 110px;
}

#aparta #foto,
#ap #msg1,
#infoffoto
{
    width: 100%;
    background-size: cover;
    min-height: 200px;
}
#aparta #foto
{
    background-image: url('imagem/app.png');
}
#ap #foto1
{
    background-image: url('imagem/app-300.jpg');
    background-size: 350px;
}
#ap #msg1
{
    background-color: #83c5be;
    color: white;
    font-size: 12pt;
}
#msg1 div
{
    padding: 40px;
}

#rodape
{
    background-color: #8EC4E7;
    padding: 50px;
    padding-left: 180px;
    color: white;
}
#rodape .roda,
#redes
{
    display: flex;
    
}
#rodape .roda div{
    margin-right: 100px;
}
#rodape div h5
{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
#redes li 
{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}
#rodape p
{
    text-align: center;
    margin-top: 50px;
}
#midias
{
    padding-left: 100px;
}

#formulario
{
    background-color: #001d3d;
    color: #000;
}
#form
{
    width: 800px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
    padding: 50px;
    outline: none;
    font-size: 14pt;
    background-color: #fff;
}
#imgem-fundo
{
    
    background-image: url('imagem/formulario.jpg');
}
#form h2
{
    font-size: 20pt;
    text-align: center;
    margin-bottom: 40px;
}

#form input,
textarea
{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15pt;
}
#form label
{
    margin: 20px;
}
#form input
{
    margin-bottom: 20px;
}
textarea
{
    padding: 20px;
}
form input[type="button"]
{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    
}
