*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecalho{
    position: absolute;
    left: 0; 
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}
#cabecalho div{
    margin-right: 60px;
    display: flex;
}
#cabecalho div ul{
    list-style: none;
    display: flex;
    margin-right: 40px;
    transition: 1s;
}
#cabecalho div ul li{
    padding-right: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
#cabecalho div ul li a
{
    text-decoration: none;
    color: white;
}


#login, #bora{
    width: 70px;
    padding: 5px;
    margin-top: -5px;
    background-color: transparent;
    outline: 0;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
#cabecalho h1{
    margin-left: 40px;
}
#cabecalho ul li a.atual
{
    color: rgba(255, 255, 255, 0.5);
}
nav{
    width: 100%;
    min-height: 100vh;
    background: url('imagem/fundo.jpg');
    background-size: cover;
    
}
nav h3{
    padding-top: 40vh;
    text-align: center;
    font-size: 80px;
    color: white;
}
#bora{
    margin-left: 640px;
    width: 100px;
    padding: 10px;
    font-size: 14pt;
}
section
{
    margin-bottom: 50px;
}
aside
{
    max-width: 900px;
}
#home
{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}
#home h2
{
    margin-bottom: 30px;
    color: #4EA0D4;
    letter-spacing: 1px;
}
#aparta,
#info
{
    color: white;
    margin: auto;
    display: flex;
    height: 240px;
    font-size: 14pt;
}
#aparta .msg
{
    width: 400px;
    text-align: center;
    background-color: #6AA3A2;
    padding-top: 110px;
}
#aparta #foto,
#infoffoto
{
    width: 100%;
    background-image: url('imagem/app.png');
    background-size: 100%;
}
#rodape
{
    background-color: #8EC4E7;
    padding: 50px;
    padding-left: 180px;
    color: white;
}
#rodape .roda 
{
    display: flex;
    
}
#rodape .roda div{
    margin-right: 100px;
}
#rodape div h5
{
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
#rodape div ul
{
    list-style: none;
}
#endereco li a
{
    text-decoration: none;
    color: white;
}

#endereco li a:hover
{
    color: rgba(255, 255, 255, 0.5);
}
#redes
{
    display: flex;
} 
#redes li 
{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}
#rodape p
{
    text-align: center;
    margin-top: 50px;
}
#midias
{
    padding-left: 100px;
}

